# C extensions
*.so

# Terraform
*.terraform/
terraform.tfstate*
infra/aws/environments/*/terraform.tfvars

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Environments
.env*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Mac OS files
.DS_Store
*/.DS_Store

# VS Code settings
.idea/
.vscode/

# claude
.claude/
CLAUDE.md

# gcloud
super-service-account-key.json
prod-cicd-service-account-key.json
dev-cicd-service-account-key.json
.worktrees/
