DEBUG=
ENV=
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
SUPABASE_JWT_SECRET=
SUPABASE_ANON_KEY=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

LLM_PROVIDER=
LLM_URL=
LLM_MODEL=

ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=